---
import { Data } from "../models";
import CompanyLogo from "./CompanyLogo.astro";
export interface Props {
    id: string
    data: Data,
    pageNo?: number
}
const {data, id} = Astro.props;

---
<div class='companies'>
    {data.companies.map(x => <CompanyLogo src={`/cv/${id}/companies/${x.filename}`}/>)}

</div>
<style>
    .companies {
        display:flex;
        padding:1rem; gap: 2rem;
        flex-wrap: wrap;
    }
</style>